{% if htmx_request %}
{% set oob = true %}
{% include "partials/insights_lens_tabs.html" %}
{% endif %}
<div id="insights-slice-panel" class="insights-slice-panel" data-active-lens="{{ active_lens }}" data-has-slice="{{ '1' if has_slice else '0' }}">
  {% include "partials/insights_slice_context.html" %}
  {% include "partials/insights_entity_breadcrumb.html" %}

  {% if slice_flash %}
  <div class="insights-slice-flash">{{ slice_flash }}</div>
  {% endif %}

  <div id="insights-lens-body" class="insights-lens-body" role="tabpanel">
    {% include "partials/insights_lens_body.html" %}
  </div>
</div>